
    <b><h1>this is the customer list page</h1></b>
    <ol>
        <p> 1. simret: simret123@gmail.com</p>
        <p>2. lila: lila@gmail.com</p>
       <p>3. mahi:  mahiassaye@gmail.com</p>
    </ol>


